
<div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="/Default/Index/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 text-primary text-uppercase">Hotelİer</h1>
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row gx-0 bg-white d-none d-lg-flex">
                <div class="col-lg-7 px-4 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                        <i class="fa fa-envelope text-primary me-2"></i>
                        <p class="mb-0">hotelapi@example.com</p>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2">
                        <i class="fa fa-phone-alt text-primary me-2"></i>
                        <p class="mb-0">+90 250 2525</p>
                    </div>
                </div>
                <div class="col-lg-5 px-4 text-end">
                    <div class="d-inline-flex align-items-center py-2">
                        <a class="me-3" href="https://x.com/msaidsonmez?t=PS1Te4rT8NFM3YBTeKFwdg&s=03" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="me-3" href="https://www.linkedin.com/in/mehmet-sait-s%C3%B6nmez-ab02011aa/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="me-3" href="https://instagram.com/saidsonmez25?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="" href="https://www.youtube.com/results?search_query=mehmet+sait+s%C3%B6nmez+aspnet" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <a href="index.html" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/Default/Index/" class="nav-item nav-link active">Ana Sayfa</a>
                        <a href="/Room/Index/" class="nav-item nav-link">Odalarımız</a>
                        <a href="/StaffDefaultPage/Index/" class="nav-item nav-link">EKİBİMİZ</a>
                        <a href="/Booking/Index/" class="nav-item nav-link">Rezervasyon</a> 
                        <a href="/Contact/Index/" class="nav-item nav-link">İletİşİm</a>
                        <a href="/Login/Index/" class="nav-item nav-link" target="_blank">Gİrİş Yap</a>
                    </div>
                    @* <a href="https://htmlcodex.com/hotel-html-template-pro" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block">Premium Version<i class="fa fa-arrow-right ms-3"></i></a> *@
                </div>
            </nav>
        </div>
    </div>
</div>