@model List<BookingApiViewModel.Result>
@{
    Layout = null;
    int count = 0;
}

<div class="container">
    <br />
    @using (Html.BeginForm("Index", "BookingByCity", FormMethod.Post))
    {
        <label>Şehir ID Giriniz</label>
        <input type="text" class="form-control" name="cityID" />
        <br />
        <button class="btn btn-primary">Şehir İçin ID Bul</button>
    }
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Otel Adı</th>
            <th>Otel Detayları</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.name</td>
                <td>@item.reviewScore</td>
                <td><a href="#" class="btn btn-success">Detaylar</a></td>
            </tr>
        }
    </table>
</div>
