
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2" style="background: rgb(70,63,68);
background: linear-gradient(172deg, rgba(70,63,68,1) 25%, rgba(254,161,22,1) 50%, rgba(15,23,43,1) 75%);">
                <hr style="background: rgb(70,63,68);
background: linear-gradient(172deg, rgba(70,63,68,1) 25%, rgba(254,161,22,1) 50%, rgba(15,23,43,1) 75%);height:10px" />
            </div>
        </div>
    </div>
</div>