
<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <a href="index.html"><h1 class="text-white text-uppercase mb-3">Hotelİer</h1></a>
                    <p class="text-white mb-0">
                        Asp.Net Core Api ile Hazırladığımız Web Tabanlı Online Rezervasyon Uygulamasıdır.<br /> Geliştirici <a href="https://www.linkedin.com/in/mehmet-sait-s%C3%B6nmez-ab02011aa/" target="_blank"> <span style="color:#ffff">Mehmet Sait Sönmez</span></a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">İletİşİm</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i> Eyüpsultan / İSTANBUL</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+90 212 301 32 26</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>saidsonmez@hotmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" target="_blank" href="https://x.com/msaidsonmez?t=PS1Te4rT8NFM3YBTeKFwdg&s=03"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" target="_blank" href="https://instagram.com/saidsonmez25?igshid=OGQ5ZDc2ODk2ZA=="><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" target="_blank" href="https://www.youtube.com/results?search_query=mehmet+sait+s%C3%B6nmez+aspnet"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" target="_blank" href="https://www.linkedin.com/in/mehmet-sait-s%C3%B6nmez-ab02011aa/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Şİrketİmİz</h6>
                        <a class="btn btn-link" href="#">Hakkımızda</a>
                        <a class="btn btn-link" href="#">Bize Ulaşın</a>
                        <a class="btn btn-link" href="#">Güznlik</a>
                        <a class="btn btn-link" href="#">Kurallar & Şartlar</a>
                        <a class="btn btn-link" href="#">Destek</a>
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Servİslerİmİz</h6>
                        <a class="btn btn-link" href="#">Yemek & Restoran</a>
                        <a class="btn btn-link" href="#">Spa & Fitness</a>
                        <a class="btn btn-link" href="#">Spor & Oyunlar</a>
                        <a class="btn btn-link" href="#">Kutlamalar & Eğlence</a>
                        <a class="btn btn-link" href="#">Meditasyon & Yoga</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; Tüm Hakları Saklıdır @DateTime.Now.Year |

                   
                    Designed By <a href="https://www.linkedin.com/in/mehmet-sait-s%C3%B6nmez-ab02011aa/" target="_blank">Mehmet Sait Sönmez</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="/Default/Index">Ana Sayfa</a>
                        <a href="#">Çerezler</a>
                        <a href="/Contact/Index">Yardım</a>
                        <a href="#">Veri Kullanımı</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
