@model AdminMailViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">


                        <form method="post">
                            <label>Alıcı Mail Adresi</label>
                            <input type="text" class="form-control" asp-for="ReceiverMail" />
                            <br />
                            <label>Konu</label>
                            <input type="text" class="form-control" asp-for="Subject" />
                            <br />
                            <label>Mesaj</label>
                            <textarea class="form-control" rows="6" asp-for="Message"></textarea>
                            <br />

                            <button class="btn mb-1 btn-primary">
                                Maili Gönder <span class="btn-icon-right"><i class="fa fa-paper-plane"></i></span>
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>