

<div class="footer">
    <div class="copyright">
        <p>Tüm Hakları Saklıdır @DateTime.Now.Year © Designed By <a class="border-bottom" href="https://www.linkedin.com/in/mehmet-sait-s%C3%B6nmez-ab02011aa/" target="_blank">Mehmet Sait Sönmez</a></p>
    </div>
</div>