
<div class="nav-header" style="background-color: #F3F3F9;">
    <div class="brand-logo">
        <a href="/Dasboard/Index/">
            <b class="logo-abbr"><img src="~/adminweb/images/logoS.png" alt=""> </b>
            <span class="logo-compact"><img src="~/adminweb//images/logoS.png" alt=""></span>
            <span class="brand-title">
                <img src="~/adminweb/images/logoS.png" alt="" style="margin-bottom: 12px;">
                <span style="font-size: 30px;font-weight: bolder;font-family:cursive;color:brown"> SÖNMEZ</span>
            </span>
        </a>
    </div>
</div>